* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 368px) {
  .textCreateAccountSignIn {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 15px;
  }  

  .textEmailSignIn {
    font-size: 26px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: .8em;
  }

  .titleEmailSignIn {
    font-weight: bolder;
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: -2em;
    margin-bottom: .7em;
  }

  .textConfirmationSignIn {
        margin-bottom: 10em;
        color: #838486;
        opacity: 60%;
        font-size: 14px;
        font-weight: bold;
        margin-top: .4em;
  }

  .formSignIn {
        padding: 2em;
  }

  .formContainerSignIn {
    background: linear-gradient(
      360deg,
      rgba(253, 254, 255, 0) 25%,
      rgba(255, 141, 10, 0.288) 75%,
      rgba(255, 141, 10, 0.363) 100%
    );
    padding: 2em;
  }

  .formAccountTextSignIn {
    display: flex;
    align-items: center;
  }

  .leftArrowSignIn {
    width: 20px;
    height: 20px;
    margin-right: 5em;
  }

  .inputBorderSignIn {
    border: 2px solid #e4e6e8;
    border-radius: 10px 100px / 120px;
    width: 23em;
    height: 3.5em;
    margin-bottom: .5em;
  }

  .inputBorderSignIn:focus-visible{
    outline-color : #FF8E0A
    }

  .buttonSignIn {
    border: 2px solid #ff8e0a;
    border-radius: 10px 100px / 120px;
    background-color: #ff8e0a;
    width: 23em;
    height: 3.5em;
    color: #fdfeff;
    letter-spacing: 1px;
    margin-top: 1.8em;
  }

  .buttonSignIn:disabled {
    background-color: #E4E6E8;
    border: 2px solid #E4E6E8;
    
  }
}
