
.carousel {
    overflow: hidden;
    width: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  
  .carousel-item {
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #fff;
    position: relative;
    bottom: 160px;
  }
  
  .carousel-item-artist {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    color: #26262E;
    margin-top: 60px;
  }
  .carousel-img {
    width: 250px;
    padding: 0 20px 0 20px;
  }
  
  /* final stage */
  
  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button-arrowY , .button-arrowX {
    background: none;
    border: none;
    position: relative;
    bottom: 215px;
    left: 10px;
  }
  .button-arrowY{
    left: 30px;
  }
  .button-arrowY:focus{
    border: none;
  }
  .button-arrowX{
    left: -30px;
  }
  .button-arrowX:focus{
    border: none;
  }
  
  