.selectedSongCarousel{
    
    position: relative;
    width: 55px;
    height: 55px;
    left: 62px;
    bottom: 70px;
    filter: drop-shadow(0px 0px 6px rgba(8, 8, 17, 0.04)) drop-shadow(2px 2px 4px rgba(8, 8, 17, 0.08));
    border-radius: 42px;
    text-align: center;
}
.selectedSongCarouselBox{
    display: flex;
}