.configcontainer {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(253, 254, 255, 0) 25%, rgba(255, 142, 10, 0.534586) 75%, rgba(255, 142, 10, 0.9) 100%);;
}
.configtop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25%;
}