* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
  }
  
  @media (max-width: 368px) {
    .textSesionLogin {
      text-align: center;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 15px;
    }  

    .textUserEmailLogin {
        letter-spacing: 1px;
        font-size: 17px;
    }
  
    .textRecPasswordLogin {
      appearance: none;
          margin-top: 2.5em;
          color: #0a0a0a;
          text-align: center;
          font-weight: bold;
          letter-spacing: 1px;
          
    }
  
    .formContainerLogin {
      background: linear-gradient(
        360deg,
        rgba(253, 254, 255, 0) 25%,
        rgba(255, 141, 10, 0.288) 75%,
        rgba(255, 141, 10, 0.363) 100%
      );
    }

    .formTextLogin {
      display: flex;
      align-items: center;
      padding: 2em;
    }
  
    .leftArrowLogin {
      width: 20px;
      height: 20px;
      margin-right: 5em;
    }
  
    .inputBorderLogin {
      border: 2px solid #e4e6e8;
      border-radius: 10px 100px / 120px;
      width: 22em;
      height: 3.5em;
      margin-top: 0px;
    }

    .inputBorderLogin:focus-visible{
      outline-color : #FF8E0A
      }
  
    .buttonLogin {
      border: 2px solid #ff8e0a;
      border-radius: 10px 100px / 120px;
      background-color: #ff8e0a;
      width: 22em;
      height: 3.5em;
      color: #fdfeff;
      letter-spacing: 1px;
      margin-top: 7em;
    }

    

    .buttonLogin:disabled {
      background-color: #e4e6e8;
      border: 2px solid #e4e6e8;
    }

    .formLogin
    {
      padding: 2em;
    }

    

  }
  